body {
    background-repeat: no-repeat;
    background-size: cover;
}
  
img {
    margin-left: 600px;
}
  
img:hover{
    filter: brightness(50%);
}
  
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-decoration: none;
    font-size: 20px;
    text-align: justify; 
    margin: 80px;
}
  
 p:hover {
    color: white;
}
  
h1 {
    font-size: 40px;
    text-align: center;
}
  
h2 {
    font-size: 30px;
    text-align: center;
}
  
h3 {
    font-size: 30px;
    text-align: center;
}

.parte0 {
    background-color: white;
    margin: 40px;
}

.parte0:hover {
    background-color:rgb(255, 255, 213); 
    margin: 40px;
}
  
.parte1 {
    background-color: white;
    margin: 40px;
  }
  
.parte1:hover {
    background-color:rgb(255, 255, 180); 
    margin: 40px;
  }
  
.parte2 {
    background-color: white;
    margin: 40px;
}
  
.parte2:hover {
    background-color: rgb(251, 251, 112); 
    margin: 40px;
}

.parte3 {
    background-color: white;
    margin: 40px;
}
  
.parte3:hover {
    background-color: rgb(251, 251, 112); 
    margin: 40px;
}
  
.parte4 {
    background-color: white;
    margin: 40px;
}
  
.parte4:hover {
    background-color: rgb(251, 251, 112); 
    margin: 40px;
}

.parte5 {
    background-color: white;
    margin: 40px;
}
  
.parte5:hover {
    background-color: rgb(251, 251, 112); 
    margin: 40px;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-decoration: none;
    font-size: 20px;
    text-align: justify; 
    margin: 2px;
}

li:hover {
    color: white;
}