body {
    background-repeat: no-repeat;
    background-size: cover;
}
  
img {
    height: 400px;
    width: 650px;
}
  
img:hover{
    filter: brightness(50%);
}
  
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-decoration: none;
    font-size: 20px;
    text-align: justify; 
    margin: 100px;
}
  
p:hover {
    color: white;
}
  
h1 {
    font-size: 40px;
    text-align: center;
}
  
h2 {
    font-size: 30px;
    text-align: center;
}
  
h3 {
    margin: 100px;
    font-size: 30px;
    text-align: center;
}
  
.p1 {
    background-color: white;
    margin: 40px;
}
  
.p1:hover {
    background-color:#e8faff;
    margin: 40px;
}
  
.p2 {
    background-color: white;
    margin: 40px;
}
  
.p2:hover {
    background-color:#cde3ff;
    margin: 40px;
}
  
.p3 {
    background-color: white;
    margin: 40px;
}
  
.p3:hover {
    background-color: #66cfff;
    margin: 40px;
}
  
